<html>
        <head>
        </head>
        <body ng-controller="cliCtrl">
            <p>Clientes</p>
            <form novalidate>
                    Name:<br>
                    <input type="text" ng-model="name"><br>
                    Cuit:<br>
                    <input type="text" ng-model="cuit">
                    <br><br>
                    Email:<br>
                    <input type="text" ng-model="email"><br>
                    Phone:<br>
                    <input type="text" ng-model="phone"><br>
                    Location:<br>
                    <input type="text" ng-model="location"><br>
                    <button ng-click="sendData()">send</button>
                  </form>
                  <hr />
                  {{ PostDataResponse }}
                  <br>
                  <br>
                  <button ng-click="getData()">get</button>
                  <table>
                        
                        <tr ng-repeat="client in clients">
                          <td>{{ client.id }}</td>
                          <td>{{ client.name }}</td>
                        </tr>
                </table>
                  
        </body>
</html>